In [33]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [35]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [39]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [41]:
df.duplicated().sum()

1

In [66]:
df['species'].unique()

KeyError: 'species'

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [68]:
oh_species=pd.get_dummies(df['species'])
df=pd.concat([df.drop('species',axis=1),oh_species],axis=1)

KeyError: 'species'

In [58]:
df

     sepal_length  sepal_width  petal_length  petal_width      0      1      2
0             5.1          3.5           1.4          0.2   True  False  False
1             4.9          3.0           1.4          0.2   True  False  False
2             4.7          3.2           1.3          0.2   True  False  False
3             4.6          3.1           1.5          0.2   True  False  False
4             5.0          3.6           1.4          0.2   True  False  False
..            ...          ...           ...          ...    ...    ...    ...
145           6.7          3.0           5.2          2.3  False  False   True
146           6.3          2.5           5.0          1.9  False  False   True
147           6.5          3.0           5.2          2.0  False  False   True
148           6.2          3.4           5.4          2.3  False  False   True
149           5.9          3.0           5.1          1.8  False  False   True

[150 rows x 7 columns]

     sepal_length  sepal_width  petal_length  petal_width      0      1      2
0             5.1          3.5           1.4          0.2   True  False  False
1             4.9          3.0           1.4          0.2   True  False  False
2             4.7          3.2           1.3          0.2   True  False  False
3             4.6          3.1           1.5          0.2   True  False  False
4             5.0          3.6           1.4          0.2   True  False  False
..            ...          ...           ...          ...    ...    ...    ...
145           6.7          3.0           5.2          2.3  False  False   True
146           6.3          2.5           5.0          1.9  False  False   True
147           6.5          3.0           5.2          2.0  False  False   True
148           6.2          3.4           5.4          2.3  False  False   True
149           5.9          3.0           5.1          1.8  False  False   True

[150 rows x 7 columns]

In [62]:
oh_species=pd.get_dummies(df['species'])
df=pd.concat([df.drop('species',axis=1),oh_species],axis=1)

KeyError: 'species'